<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>About US </h1>

    <a href="/index">home</a>
    <a href="/profile">profile</a>
    <a href="/blog">blog</a>
    <a href="/team">team</a>
    <a href="/services">services</a>
    <a href="/aboutus">about</a>
    <a href="/contact">contact</a>
    <a href="/price">price</a>
    <a href="/signup">signup</a>
    
</body>
</html>